@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 75px;
}
span {
  font-size: 16px;
}

body {
  font-family: "exo 2";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-weight: 100;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0;

  line-height: normal;
  color: #ffffff;
}

.swiper {
  width: 1280px;
}
.swiper-slide {
  display: flex !important;
}
.swper-wrapper {
  justify-content: center;
}
.swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes prog {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.progress-bar {
  height: 1px;
  position: relative;
  background-color: rgb(226 226 226);
  width: 130px;
  border-radius: 25px;
}

.progress-bar-value {
  width: 130px;
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 100%;
  border: 1px solid white;
  background-color: rgb(226 226 226);
  position: relative;
  overflow: hidden;
}

.start {
  width: 130px;
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 100%;
  border: 1px solid white;
  background-color: rgb(226 226 226);
  position: relative;
  overflow: hidden;
  animation: prog 2700ms linear;
}

.start-1 {
  width: 130px;
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 100%;
  border: 1px solid white;
  background-color: rgb(226 226 226);
  position: relative;
  overflow: hidden;
  animation: prog 2700ms linear;
}
.start-2 {
  width: 130px;
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 100%;
  border: 1px solid white;
  background-color: rgb(226 226 226);
  position: relative;
  overflow: hidden;
  animation: prog 2700ms linear;
}

.swiper2 {
  overflow-y: hidden;

  max-width: 1280px;
}
.swiper2::-webkit-scrollbar {
  display: none;
}

#swiper-style2 {
  width: 265px;
  border: 1px solid #dfddda;
}

#swiper-style2 img {
  object-fit: contain;
  width: 233px;
  height: 155px;
}

.swiper-scrollbar-horizontal {
  position: inherit !important;
  max-width: 1280px;
  margin-top: 30px;
}
.swiper-scrollbar-drag {
  max-width: 212px;
}
